
  /* 
  ====== 
  Error
  ======
  */
  .error-page {
    display: flex;
    justify-content: center;
  }
  .error-container {
    text-align: center;
    text-transform: capitalize;
  }
  /* 
  ====== 
  Cocktails List 
  ======
  */
  
  .section {
    padding: 5rem 0;
  }
  .section-title {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }
  .cocktails-center {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    /* align-items: start; */
  }
  @media screen and (min-width: 576px) {
    .cocktails-center {
      grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    }
  }
  /* 
  ====== 
  Gallery
  ======
  */
  
  .gallery {
    background: var(--mainWhite);
    margin-bottom: 2rem;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: var(--mainBorderRadius);
  }
  .gallery:hover {
    box-shadow: var(--darkShadow);
  }
  .gallery img {
    height: 20rem;
    object-fit: cover;
    border-top-left-radius: var(--mainBorderRadius);
    border-top-right-radius: var(--mainBorderRadius);
  }

  /* 
  ====== 
  Form
  ======
  */
  .search {
    margin-top: 1rem;
    padding-bottom: 0;
  }
  
  .search-form {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--maxWidth);
    background: var(--mainWhite);
    /* padding: 2rem 2.5rem; */
    text-transform: capitalize;
    border-radius: var(--mainBorderRadius);
    box-shadow: var(--lightShadow);
  }
  
  .form-control label {
    display: block;
    margin-bottom: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: var(--primaryColor);
  }
  .form-control input {
    width: 100%;
    border: none;
    border-color: transparent;
    background: var(--mainBackground);
    border-radius: var(--mainBorderRadius);
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  /* 
  ====== 
  Cocktail
  ======
  */
  
  .cocktail-section {
    text-align: center;
  }
 
